body {
      margin: 0;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #fff;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
      flex-wrap: wrap;
    }

    .left {
      max-width: 400px;
    }

    .left h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .left p {
      color: #555;
      margin-bottom: 20px;
    }

    input[type="text"] {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    button {
      padding: 12px 25px;
      border: none;
      background: #000;
      color: white;
      border-radius: 999px;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
    }

    .qr-box {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #qrcode {
      padding: 20px;
      border: 2px solid #000;
      border-radius: 15px;
      background-color: #fff;
      display: none;
      margin-bottom: 20px;
    }

    #download-btn {
      display: none;

    }